<hr id="Contact">
<div class="row">
    <div class="col-md-12 px-5">
        <h1 id="Contact">Contact</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut dapibus lorem. Ut vitae viverra
            dolor. Cras vitae venenatis odio, sed egestas augue. Curabitur interdum arcu quis enim mattis, ac. Lorem
            ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut dapibus lorem. Ut vitae viverra
            dolor.
            Cras vitae venenatis odio, sed egestas augue. Curabitur interdum arcu quis enim mattis, ac</p>
    </div>
    <div class="col-md-6 offset-lg-3 bg-light pt-2 px-5">
        <form class="form-horizontal " action="" role="form">
            <div class="mb-3 d-flex">
                <label for="exampleFormControlInput1" class="col-form-label m-0 col-2">
                    <p class="fw-bolder m-0">Your Email</p>
                </label>
                <input type="email" class="form-control p-0 col" id="exampleFormControlInput1" placeholder="Your Email">
            </div>
            <div class="mb-3 d-flex">
                <label for="exampleFormControlTextarea1" class="col-form-label m-0 col-2">
                    <p class="fw-bolder m-0">Your Message</p>
                </label>
                <textarea class="form-control col" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Enter your messege here..."></textarea>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2 m-2" type="button">Submit</button>
            </div>
        </form>
    </div>
</div>
