<!-- your html code here -->
<hr id="About">
<div class="row">
    <div class="col-8">
        <h1 class="h1 ps-5">
            The First Heading <small class="text-muted">Will Catch Your Eye</small>
        </h1>
        <p class="text-leftt ps-5 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque est rem numquam
            voluptatibus sunt ipsa at voluptatum! Ea dolores quod explicabo earum quas consequatur, fugiat sapiente est
            modi laudantium amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eos. Veritatis harum
            quaerat vitae illo voluptate maiores nam, quos voluptates consequatur culpa, rerum cum cupiditate
            consequuntur corrupti excepturi, ullam a.</p>
    </div>
    <div class="col-4 ps-4">
        <img src="/website/assets/img/1.jpg" style="width: 300px; height: 300px;" class="rounded-circle img-fluid">
    </div>
</div>
