<!-- your html code here -->
<div class="container; p-3 mb-2 bg-white m-0">
    <div class="row">
        <div class="col-2 ps-5">
            <img src="/website/assets/img/2.jpg" class="rounded-circle img-fluid"  >     
        </div>
        <div class="col-9">
            <h3>
                The Second Heading 
                <small class="text-muted">Is Pretty to cool</small>
            </h3>
            <p class="text-leftt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque est rem numquam voluptatibus sunt ipsa at voluptatum! Ea dolores quod explicabo earum quas consequatur, fugiat sapiente est modi laudantium amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, eos. Veritatis harum quaerat vitae illo voluptate maiores nam, quos voluptates consequatur culpa, rerum cum cupiditate consequuntur corrupti excepturi, ullam a.</p>
        </div>
    </div>
</div>

